*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(110, 89, 134);
    color: white;
}
.container{
    width: 30%;
    margin: 0 auto;
    
}


.nav-main-sec{
    background-color: #f04259;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 70px;
    
}
.brand{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;

}
.main-nav{
    text-align: right;
    margin-left: 0;
    margin-right: 50px;
}

.item{
    list-style: none;
    display: inline-block;
   margin-right: 20px;
}
ul a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;

}
hr{
    margin-top: 0;
    width: 100%;
    border-color:rgb(255, 255, 255);

}

div.timer{
    margin:100px auto;
    /* border: 1px blue solid; */
    text-align: center;
    background-color: rgb(122, 105, 142);
}
div.timer p{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(59, 56, 56);
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
}

.timer-show{
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 40px;

}
.start-btn{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px ;
}

.stop-btn , .pause-btn{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    display: none;
    cursor: pointer;
    margin-left: 10px ;
}

.task-lable{
    font-weight: 600;
    font-size: 20px;
    
}
.sub-menu{
    display: flex;
    justify-content: space-between;
}

.tasks-preview{
    text-align: center;
    display: none;
    
}
.task{
    margin-top: 20px;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px;
}


div.addtask-container{
    margin-top: 30px;
    border: 4px white dotted;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
img{
    border-radius: 20px;
    width: 20px;
    height: 20px;

}

.addtask{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 5px;

    
}

.task-inputs{
    height: 250px;
    margin-top: -80px;
   padding-top: 30px;
    background-color: white;
    border-radius: 8px;
    color: black;
    display:none  ;
}
.task-input{
    padding: 10px;
    margin-left: 20px;
    width: 90%;
    font-size: 18px;
    outline: none;
    border-radius: 10px;
}
.task-inputs h2{
    margin-left: 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: -20px;
}
.task-inputs p{
  display: inline-block;
  margin-left: 30px;
  font-size: 30px;
  margin-right: 0;

}
.inc-dec-btn{
    padding: 5px;
    margin-left: 5px;
    width: 30px
    
}
.save-cancel{
    background-color: rgb(106, 117, 128);
    background: black;
    height: 60px;
    padding-right: 10px;
    text-align: right;
    
}
.save-cancel button{
    background: white;
    margin-top: 20px;
    padding: 5px;
    margin-right: 10px;
    width: 60px;
    font-weight: 400;
    cursor: pointer;
}





