*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(110, 89, 134);
    background-color: rgb(64, 64, 67);
    color: white;
   
}

button{
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bolder;
    border-radius: 8px;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    margin-left: 10px ;
    width: 6rem;

}
.container{
    width: 30%;
    margin: 0 auto;
    position: relative;
    
    
}


.nav-main-sec{
    background-color: #f04259;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 70px;
    z-index: 1;
    
}
.brand{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;

}
.main-nav{
    text-align: right;
    margin-left: 0;
    margin-right: 50px;
}

.item{
    list-style: none;
    display: inline-block;
   margin-right: 20px;
}
ul a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;

}
div.time-weather{
    width: 100%;
    background-color: rgb(130, 169, 167);
    height: 40px;
    position: fixed;
    top:60px;
    z-index: 1;
}
div.time{
    width: 14rem;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 3px;
    padding-left: 1rem;
    color: black;
}
span.period{
    font-size: 0.8rem;
    font-weight: 800;
}

div.timer{
    margin:50px auto;
    margin-top: 200px;
    min-width: 12rem;
    border: 1px solid red;
    /* border: 1px blue solid; */
    text-align: center;
    background-color: rgb(122, 105, 142);
    background-color: rgb(37, 35, 38);
    border-radius: 8px;
}
div.timer p{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(59, 56, 56);
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
}

.timer-show{
    font-size: 80px;
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: 40px;

}



.stop-btn , .pause-btn{
    display: none; 
}

.sub-minue-task-preview{
    min-width: 12rem;
}
.task-lable{
    font-weight: 600;
    font-size: 20px;
    
}
.sub-menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    
}
.sub-menu div{
    background-color: white;
    border-radius: 2px;
}
.sub-menu img{
    cursor: pointer;
    padding: 3px;
    box-sizing: border-box;
    
}

.tasks-preview{
    text-align: center;
    display: none;
    
    
}
.sub-menu-lists{
    width: 12rem;
    min-width: 12rem;
    background-color: white;
    position: absolute;
    right: 0;
    margin-top: -12px;
    border-radius: 4px;
    display: none;
}
.sub-menu-list{
    margin:0;
    color: black;
    list-style: none;
    
}
.sub-menu-list li{
    margin: 5px 0;
    padding: 5px 0;
    padding-left: 30px;
    margin-left: -40px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

}
.sub-menu-list li:hover{
    background-color:orange;
    
}

.task{
    margin-top: 20px;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px;
}

.addTask-taskInput{
    min-width: 12rem;
}

div.addtask-container{
    margin-top: 30px;
    border: 4px white dotted;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
img{
    border-radius: 20px;
    width: 20px;
    height: 20px;

}

.addtask{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 5px;

    
}

.task-inputs{
    height: 250px;
    margin-top: -80px;
   padding-top: 30px;
    background-color: white;
    border-radius: 8px;
    color: black;
    display:none  ;
}
.task-input{
    padding: 10px;
    margin-left: 20px;
    width: 90%;
    font-size: 18px;
    outline: none;
    border-radius: 10px;
}
.task-inputs h2{
    margin-left: 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: -20px;
}
.task-inputs p{
  display: inline-block;
  margin-left: 30px;
  font-size: 30px;
  margin-right: 0;

}
.inc-dec-btn{
    padding: 5px;
    margin-left: 5px;
    width: 30px
    
}
.save-cancel{
    background-color: rgb(106, 117, 128);
    background: black;
    height: 60px;
    padding-right: 10px;
    text-align: right;
    
}
.save-cancel button{
    background: white;
    margin-top: 20px;
    padding: 5px;
    margin-right: 10px;
    font-weight: 400;
    cursor: pointer;
}





