*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(178, 116, 250);
    color: white;
}
.container{
    width: 50%;
    margin: 0 auto;
}


.nav-main-sec{
    background-color: lightblue;
    margin: 30px auto;
    width: 60%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.brand{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;

}
.main-nav{
    text-align: right;
    margin-left: 0;
}

.item{
    list-style: none;
    display: inline-block;
   margin-right: 20px;
}
ul a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;

}
hr{
    margin-top: 0;
    width: 100%;
    border-color:lightgray;

}

div.timer{
    margin:40px auto;
    /* border: 1px blue solid; */
    text-align: center;
}
div.timer p{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(59, 56, 56);
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
}
div.timer p:hover{
    background-color: lightslategray;
    padding: 10px;

}
.timer-show{
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 40px;

}
button{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 8px;
    border: none;
    padding: 20px 60px;
}

div.addtask-container{
    margin-top: 30px;
    border: 3px wheat dotted;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
img{
    border-radius: 20px;
    width: 20px;
    height: 20px;

}
.addtask{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 5px;
    
}

